@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html,body{
    background-color: rgb(17, 17, 17);
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100dvw;
    height:100dvh;
    overflow: hidden;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}

h1{
  margin:16px 24px 8px;
}

.guidelines{
  margin:8px 8px 16px;
}

.guidelines p{
margin:0;
text-align: center;
}

 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
    background-color: transparent;
    width: 300px;
    height: 600px;
    box-sizing: border-box;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: rgba(12, 12, 12, 0.952) 0px 7px 16px 0px;

  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-front img{
    width:100%;
    height:100%;
    object-fit: cover;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(34, 34, 34);
    color: white;
    transform: rotateY(180deg);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:24px;
    box-sizing: border-box;

  } 

  button{
    margin:24px;
    height:48px;
    padding:8px 32px;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
    background-color: rgb(58, 58, 58);
    border:none;
    color:white;
    border-radius: 24px;
    box-shadow: rgba(12, 12, 12, 0.952) 0px 8px 16px 0px;


  }

  button:hover, button:active{
    transform:scale(1.1);
  }


  .bounce {
    animation: bounce 2s ease-in;
  }
  @keyframes bounce {
      70% { transform:translateY(0%); }
      80% { transform:translateY(-15%); }
      90% { transform:translateY(0%); }
      95% { transform:translateY(-7%); }
      97% { transform:translateY(0%); }
      99% { transform:translateY(-3%); }
      100% { transform:translateY(0); }
  }